{
  "RapidFireFixMethod": 1,
  "RapidFirePrintMessage": true,
  "RapidFireReflectScale": 1,
  "FixMoneyOnJoin": true,
  "AllowedAwpCount": -1,
  "AllowedScoutCount": -1,
  "AllowedAutoSniperCount": -1,
  "AllowAllWeaponsOnWarmup": true,
  "AllowWeaponsForFlag": "@css/restrict",
  "AllowedOnlyWeapons": "weapon_scar20,weapon_g3sg1",
  "RestrictTeleport": true,
  "TeleportPrintMessage": true,
  "RestrictGhost": true,
  "AllowAdPrint": true,
  "AdvertiseBlockerName": true,
  "AdvertiseBlockerChat": true,
  "AllowSettingsPrint": true,
  "AllowResetScore": true,
  "ShowResetScorePrint": true,
  "AllowResetDeath": 1,
  "ResetDeathFlag": "@css/general",
  "ShowResetDeathPrint": true,
  "RestrictMetaCommands": true,
  "ChatPrefix": "[{Blue}Utils{Default}]",
  "CustomPhrasesSettings": {
    "AdvertiseBlockerMessage": "Advertisement is prohibited!",
    "AdvertiseNameChangeTo": "[Player1],[Player2],[Player3]",
    "ResetScorePhrase": "Player {Orange}{PlayerName}{Grey} has reset their stats!",
    "ResetScoreAlreadyPhrase": "Your stats are already 0.",
    "ResetDeathPhrase": "Player {Orange}{PlayerName}{Grey} has reset their deaths!",
    "ResetDeathAlreadyPhrase": "Your deaths are already 0.",
    "RapidFirePhrase": "Player {Orange}{PlayerName}{Grey} tried using {Orange}double tap{Grey}!",
    "TeleportPhrase": "Player {Orange}{PlayerName}{Grey} tried using {Orange}Teleport{Grey}!",
    "WeaponRestrictPhrase": "{Orange}{WeaponName}{Grey} is restricted to {Orange}{RestrictAmount}{Grey} per team!"
  },
  "ConfigVersion": 10
}